@import "tailwindcss";
::-webkit-scrollbar {
  display: none;
}

html, body {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-snap-type-y-mandatory {
  scroll-snap-type: y mandatory;
}

.scroll-snap-align-start {
  scroll-snap-align: start;
}

.text-glow {
  text-shadow:
    0 0 15px white
}