@import "tailwindcss";

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.scroll-snap-type-y-mandatory {
  scroll-snap-type: y mandatory;
}

.scroll-snap-align-start {
  scroll-snap-align: start;
}